@import url(http://images.apple.com/global/styles/blackout.css);

#main { margin: 0 auto; width: 980px; }
#content { padding: 0 1px; }
#container { margin: 0 auto 1.5em; width: 680px; }
#container #main { width: 100%; }
body#release #main #content { margin: 0 auto 1.5em; width: 680px; }

#content h2 { color: rgb(118, 121, 124); font-size: 16px; font-weight: bold; margin-bottom: 18px; padding-bottom: 0.5em; }
#overview #content .column.first p.last { border:none; background:transparent; }
#overview #content ul.nav li.nav_item p { color:#666; font-size:11px; padding-left:10px; line-height:16px; margin-bottom:12px; }
	
#overview #content .column { margin-bottom: 18px; }
#overview #content .column.first,
#overview #content .column.last { background: #f9f9f9; box-shadow: rgba(0,0,0,0.3) 0 1px 3px; -webkit-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px; }
#overview #content #search_box { clear: right; }
#overview #content #search_box #search { width:112px; }
#overview #content .column.first { margin-left: 1px !important; min-height: 573px; *height:579px; _height:576px; padding: 0 20px 1.5em; width: 194px; _width:189px; }

#overview #content .column.first,
#overview #content .column.last, x:-moz-any-link { border:1px solid #dbdbdb; border-color:#e5e5e5 #dbdbdb #d2d2d2; } /* for old firefoxes */
#overview #content .column.first:nth-child(1n),
#overview #content .column.last:nth-child(1n) { border:none; } /* reset the new firefox 3.5 back to the default */
#overview #content .column.first,
#overview #content .column.last { *border:1px solid #dbdbdb; *border-color:#e5e5e5 #dbdbdb #d2d2d2; }
#overview #content .column.first { *margin-left: 0; }
#overview #content .column.last { *margin-right: 0; }

#productheader h1 { margin: 1px 0 6px 8px; }
#productheader h1 a { text-indent:0; display:inline; }
/*#productheader ul li a { margin: 1em 0 0 0; border-right:1px solid #ccc; padding:0 2px; }*/
#productheader ul li#pn-leadership a { border:none; }
#productheader ul li { width:; }

#overview ul.stories,
#overview dl.stories { position:relative; padding-right:13px; }
#overview dl.stories { margin-bottom:5px; *margin-bottom:20px; }
#overview #content h2 { color: #333; font-size: 110%; margin-bottom: 0; }
#overview #contact h2,
#overview #title_bar h2,
#overview #additional_info h2,
#overview #media_resources h2,
#overview #search_box h2 { color: #000; font-size: 100%; font-weight: normal; }

#content .column.first h2 { padding-top: 2px; }

#contact { background: #616161 url(http://images.apple.com/pr/images/element-bg-contact-20090909.gif) repeat-x 0 100%; margin-left: -20px; margin-right: -20px; margin-bottom: 13px; padding: 0 20px 18px; }
#overview #contact h2,
#overview #media_resources h2,
#overview #search_box h2 { background: #b5b5b5 url(http://images.apple.com/pr/images/element-bg-boxtitle-20090909.gif) repeat-x 0 0; line-height: 2.5; margin-left: -20px; margin-right: -20px; padding: 0 20px; position: relative; *height: 30px; }
#overview #content #contact h2 { margin-bottom: 32px; padding-top: 0; }
#contact p { color: #eee; font-size: 120%; text-align: center; }
#contact p.last { *background: none; *border: none; }
#contact p strong { color: #fff; display: block; font-size: 150%; _font-size:145%; line-height: 1.4; margin-left: -10px; margin-right: -10px; text-shadow: #000 0 1px 0; }
#contact p a { color: #9ee1fe; font-size: 80%; }

#content .column.first .vcard { border-top: 1px solid #e5e5e5; margin-top: 18px; padding-top:14px; }
#content .column.first .fn,
#content .column.first .street-address { display: block; }

#media_resources { margin-bottom: 1.5em; margin-right: 1px; padding: 0 10px; width: 214px; -moz-border-radius-right:10px; min-height:493px; *min-height:484px; _height:484px; }
#overview #media_resources h2 { margin-left: -10px; margin-right: -10px; padding: 0 20px; }
#media_resources .nav { margin-bottom: 0; *line-height: 0; }
#media_resources .nav_item.first { border: none !important; padding:0 !important; height:auto !important; }
#media_resources .nav_item.first img { padding-top:1px;}
#media_resources .nav_item { border-top: 1px solid #e5e5e5; }
#media_resources .nav_item a { color: #333; display: block; line-height: 1.3; padding-top:12px; padding-left: 10px; text-decoration: none; }
#media_resources .nav_item:first-child a { border-top: none; }
#media_resources .nav_item a:hover { color: #08c; }
#media_resources .nav_item a.image { padding-left:10px; padding-top:0; background:none; margin-left:-8px; margin-right:-8px; }

#search_box { margin-right: 1px; padding: 0 18px; width: 198px; }
#overview #search_box h2 { margin-left: -18px; margin-right: -18px; margin-bottom: 18px; padding: 7px 9px 7px 18px; *padding: 6px 9px 7px 18px; line-height:1.4em; *height: auto; }
#search_box form { margin-bottom: 14px; }

#releases { margin-left: 13px; width: 484px; position:relative; float:left; }
#releases #title_bar,
#releases #additional_info { background: url(http://images.apple.com/pr/images/element-bg-titlebar-20090909.gif) repeat-x 0 0; padding: 0 15px; width:455px; *width:453px; _width:455px; position:relative; float:left; }
#overview #releases h2 { line-height: 2.5; display: inline; *float: left; }
#releases #rss_icon { margin-top: 8px; }

#overview #main #content dl { position:relative; float:left; width:100%; line-height:1.8em; padding:10px 0 0 15px; z-index:1; }
#overview #main #content dt { position:relative; float:left; margin-bottom:12px; color:#888; display:block; width:85px; }
#overview #main #content dd { position:relative; float:left; margin-bottom:12px; width:370px; display:block;  }
#overview #main #content dd a { color:#252525; text-decoration:none; line-height:1.3em; display:block; float:left; position:relative; padding:3px 0; clear:both; }
#overview #main #content dd a em { font-style:normal; font-weight:bold; }
#overview #main #content dd a:hover { color:#08c; }

#overview #main #content dd a[href^="http:"] {
line-height:18px;
padding-right:15px;
background:transparent url("http://images.apple.com/global/elements/icons/external10x10.gif") no-repeat center right;
}

#overview #main #content dd a[href$='.pdf'] {
line-height:18px;
background: transparent url("http://images.apple.com/global/elements/icons/globaliconpdf12x12.gif") no-repeat center right;
padding-right:15px;
float:left;
position:relative;
}

#releases #view-pr-library { position:relative; float:left; text-align:right; padding:0 20px 10px 0; width:460px; z-index:100; }

#overview #main #promos { width:992px; margin-right:-12px; _zoom:1; }
#overview #main #promos .promo div { position:absolute; }
#main #promos .promo { float:left; width:236px; height:188px; margin-right:12px; }

.round { border-radius: 4px; -webkit-border-radius: 4px; -o-border-radius: 4px; -moz-border-radius: 4px; }
.round_topleft { border-top-left-radius: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; }
.round_topright { border-top-right-radius: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; }
.round_bottomleft { border-bottom-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; }
.round_bottomright { border-bottom-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px; }
.replaced { background-position: 0 0; background-repeat: no-repeat; display: block; height: 10px; overflow: hidden; outline: none; text-indent: -9999px; width: 10px; }
.right { float: right; }
.left { float: left; }

#container #main, #productheader a.buy, .header.main h1, #country .flag.usa { behavior: url(/global/scripts/lib/iepngfix.htc); }
.replaced { display: block; height: 10px; overflow: hidden; outline: none; text-indent: -9999px; text-align: left; width: 10px; }
.shadow { -webkit-box-shadow: rgba(0,0,0,0.35) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.35) 0 1px 3px; }
.shadow.alt { border: 1px solid #ddd; }
.rounded { border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -o-border-radius: 6px; -khtml-border-radius: 6px; }
.nowrap { white-space: nowrap; }
.wrap, a.wrap { white-space: normal; }
.clear_left { clear: left; }
.clear_right { clear: right; }

.leadership #pn-leadership a,
.releases #pn-releases a, .release #pn-releases a,
.products #pn-products a { color:#999999 !important; cursor:default; }

#main #content .contact { position:relative; float:left; width:100%; font-size:16px; font-weight:normal; text-align:center; background-color:#FCFCFC; padding:15px 0; border:1px solid #E8E8E8; margin-top:42px; }
#main #content span.title { color:#999; }
#main #content span.phone  { margin-left:30px; }
#main #content span.email { color:#0088CC; margin-left:30px; }

#main #content .header { margin-bottom:18px; }
#main #content .header h1 { border-bottom:1px solid #E1E1E1; padding-bottom:8px; }